@model HK_Database.Models.Chats

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChatId" class="control-label"></label>
                <input asp-for="ChatId" class="form-control" />
                <span asp-validation-for="ChatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChatData" class="control-label"></label>
                <input asp-for="ChatData" class="form-control" />
                <span asp-validation-for="ChatData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChatName" class="control-label"></label>
                <input asp-for="ChatName" class="form-control" />
                <span asp-validation-for="ChatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
